
body {
    font-family: 'Lato', sans-serif;
    margin-top: 10em !important;

    background-color: #393E46;
    background-image: -webkit-linear-gradient(80deg, #222831 50%, #393E46 50%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  h1 {
    text-align: center;
    padding: .75em;
    font-weight: 600 !important;
    font-size: 3em !important;
    letter-spacing: .08em;
    color: #efefef;
  }

  #container {
    position: relative;
    top: 0px;
    z-index: -1;
  }

  .row {
    height: 65px;
    font-size: 35px;
    text-align: center;
  }

  .keypad {
    font-weight: 300 !important;
    border-width: 1px;
    border-style: solid none none solid;
    border-color: #111;
    height: 65px;
    padding-top: 5px;
    padding-bottom: 10px;
    cursor: pointer;
  }

  #display {
    height: 460px;
    width: 300px;
    position: relative;
    color: #000;
    background-color: #000;
    margin: 2rem auto;
  }

  #upperDisplay {
    height: 35px;
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
    background-color: #000;
  }

  #result {
    height: 100px;
    width: 280px;
    font-size: 60px;
    color: #fff;
    background-color: black;
    text-align: right;
    vertical-align: bottom;
    display: table-cell;
  }

  .number {
    background-color: #e6e6e6;
  }

  #zero {
    height: 65px;
    padding-top: 5px;
    padding-bottom: 10px;
    cursor: pointer;
  }

  #dot {
    padding-top: 0px;
  }

  #clear, #plusminus, #percent {
    background-color: #969696;
  }

  #divide, #multiply, #minus, #plus, #equals {
    color: #fff;
    background-color: #ffa500;
    border-right-style: solid;
  }
  #zero, #dot, #equals {
    border-bottom-style: solid;
  }

  footer p {
    text-align: center;
    font-size: 1em;
    padding-top: 2em !important;
    font-weight: 600 !important;
    color: #efefef;
  }

  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4em;
  }
